{% extends "base.html" %}

{% block content %}
<br/>
{% if list in ["ol", "ul"] %}
<h3>Список профессий</h3>
    {% if "ol" == list %}
        <ol>
        {% for user in user_list %}
            <li><h4>{{ user }}</h4>
            </li>
        {% endfor %}
        </ol>
    {% elif "ul" == list %}
        <ul>
        {% for user in user_list %}
            <li><h4>{{ user }}</h4></li>
        {% endfor %}
        </ul>
    {% endif %}
{% else %}
<div>
    <h3>Неверный параметр</h3>
</div>
{% endif %}
{% endblock %}