{% extends "base.html" %}

{% block content %}
<img src="/static/images/logo.png" id="logo" alt="нету"/><h2>Аварийный доступ</h2>
<br/>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id_user.label }}<br>
        {{ form.id_user(class="form-control") }}<br>
        {% for error in form.id_user.errors %}
    <div>
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div>
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.id_cap.label }}<br>
        {{ form.id_cap(class="form-control") }}<br>
        {% for error in form.id_cap.errors %}
    <div>
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.token.label }}<br>
        {{ form.token(class="form-control", type="password") }}<br>
        {% for error in form.token.errors %}
    <div>
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}